.about {
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
    margin: 2rem auto;
    justify-content: center;
    align-items: center;
    p {
        margin-top: 0;
    }
}
.about-content {
    color: $black-text-color;
    font-size: 0.92rem;
    line-height: 1.3rem;
    text-align: center;
    width: 62%;
    margin-bottom: 1.2rem;
}