.more-than {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
}
.more-than__content {
    margin-top: 1.7rem;
}
.more-than__content-wrap {
    position: relative;
}
.more-than__content-box {
    margin: 0 0 1rem;
}
