.more-than__content-img1 {
    width: 100%;
    height: 17vw;
    object-fit: cover;
    border-radius: 5px;
}
img {
    vertical-align: middle;
    border-style: none;
}
// testimonial-section
.testimonial__content-img {
    height: 11rem;
    border-radius: 50%;
    
}
// event-section
.event__wrap-box1-img1 {
    height: 9rem;
    width: 30%;
    object-fit: contain;
}
// contact-section
.contact__content-avatar--img {
    height: 18rem;
}