.header__nav-menu {
    list-style: none;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    transition: all .5s ease;
    margin-right: -3rem;
}
// contact-section
.contact__content-info--list {
    list-style: none;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
    
}
// mobile-nav-list
#moblie-nav__list {
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 2rem;
    flex-direction: column;
    font-weight: 500;
    transition: all .5s ease;
}
