$white-img-color: #F1F1F1;
$white-color: #ffff;
$header-hover-color: #e79d3c;
$black-header-color: #333;
$black-header-primary-color: #444;
$black-text-color: #555;
$hover-learn-more-color: #e9304f;
$gray-low-color: #bebebe;
$text-event-color: #838383;
$background-modal-link: #ffbc00;